<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page 2: Identify Substructures</title>
</head>
<body>
<h1>Page 2: Identify Substructures</h1>
<p>
  We offer a service to identify substructures in molecules using our <a href="https://github.com/chemprop/chemprop-v1-old-branches" target="_blank">chemprop</a>-based model.
  If you are interested in substructure interpretation, feel free to contact us:
</p>
<ul>
  <li><a href="mailto:biyuezhu@hospital.cqmu.edu.cn">biyuezhu@hospital.cqmu.edu.cn</a></li>
  <li><a href="mailto:liyanbo12@gmail.com">liyanbo12@gmail.com</a></li>
</ul>
<p>We’ll be happy to assist you with substructure prediction.</p>

<br>
<a href="{{ url_for('back_to_home') }}">Back to Homepage</a>
</body>
</html>